.bkg{
    background-image: url(../../../../public/Group\ abt.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ft{

        background-image: url(../../../../public/campus/about-us.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
