.solutionimg{
    height: 430px;
    background-image: url(../../../../public/dark.png);
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size: cover;
    background-position: center;
}
.level{
    height: 430px;
    background-image: url(../../../../public/bgggg.png);
    -o-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size: cover;
    background-position: center;

}