.ban{
    background-image: url(../../../../public/banrec.png);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}

.ban2{
    background-image: url(../../../../public/banrec.png);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}