@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 222.2 47.4% 11.2%; */
    /* --primary: 137.4 71.2% 29.8%;  // Updated to #26D44B */
    --primary: 133, 70%, 49%, 1;
    --primary-foreground: 210 40% 98%;

    --secondary: 32, 100%, 50%, 1;
    /* --secondary-faded: 32, 100%, 50%, 1; */
    /* --secondary-foreground: 222.2 47.4% 11.2%; */
    --secondary-foreground: 32, 100%, 50%, 0.1;

    --accentgreen: 133, 70%, 49%, 0.2;

    --dark: 211, 38%, 13%, 1;

    /* --muted: 210 40% 96.1%; */
    --muted: 211, 38%, 13%, 1;
    --muted-foreground: 211, 38%, 13%, 0.43;

    --accent: 137.4 71.2% 29.8%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body, html {
  height: 100%;
  overflow-x: hidden;
}

.hero_background {
  height: 100%;
  background-image: url(../public/herobk.png);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
  background-position: bottom;
}

.cultural_learning_bg {
  height: 100%;
  background-image: url(../public/assets/bg-lines.svg);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

.unique_items_card {
  border-radius: 19px;
  background: #fff;
  box-shadow: 0px 6px 5px 0px rgba(31, 133, 222, 0.07);
}

.we_are_here_card {
  border-radius: 10px 10px 10px 10px;
  background: #FFF;
  box-shadow: 0px 4px 85px 0px rgba(0, 0, 0, 0.10);
}

.join_family {
  border-radius: 10px;
  background: linear-gradient(90deg, #26D44B 7.91%, #F80 99.91%);
}

.upcoming_events_card {
  border-radius: 19px;
  background: #FFF;
  box-shadow: 0px 20px 30px 0px rgba(31, 133, 222, 0.10);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


 