.ban{
    background-image: url(../../../../public/Rectangle\ 5775.png);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}

.hher {
    background-image: linear-gradient(180deg, rgba(20, 32, 45, 0) 0%, #14202D 100%);
}

.b1 {
    background: linear-gradient(90deg, #0DA4B4, #25d24e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
  
  .specialStyle {
    background-color:#fcf1e5;
    border-color: #ff8800;
  }
  .b11 {
    border-top: 13px solid transparent;
     border-image-source: url(../../../../public/Re.png);
     border-image-slice: 10;
     border-image-repeat: round;
   }
   .bb1{
    background-image: url(../../../../public/Rectangle\ 5817.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .bb2{
    background-image: url(../../../../public/Rectangle\ 5818.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .bft{
    background-image: url(../../../../public/Rectangle\ 5821.png);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}

.fb{
  background-image: url(../../../../public/Rectangle\ 5765\ \(2\).png);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}

.fb1 {
  background: linear-gradient(90deg, #0A9FBF 0%, #28D744 100%, #28D744 100%);
 }

 .bfd {
  border-right: 13px solid transparent;
   border-image-source: url(../../../../public/Rectangle\ rec.png);
   border-image-slice: 10;
   border-image-repeat: round;
 }